:root {
  --night-netral: #0d0a0b;
  --charcoal-netral: #454955;
  --magnolia-netral: #f3eff5;
  --primary-green: #72b01d;
  --secondary-green: #3f7d20;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--night-netral);
}
main {
  width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: var(--charcoal-netral);
  border-radius: 4px;
}
h1 {
  text-align: center;
  font-family: "Plus Jakarta Sans";
  color: var(--magnolia-netral);
}
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
label {
  font-family: "Plus Jakarta Sans";
  color: var(--magnolia-netral);
}
input {
  width: 100%;
  height: 24px;
  border-radius: 4px;
  outline: none;
  font-family: "Plus Jakarta Sans";
}
button {
  width: 200px;
  padding: 8px;
  color: var(--magnolia-netral);
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  background-color: var(--primary-green);
  font-weight: 800;
  margin-top: 20px;
  border-radius: 6px;
}

p {
  color: var(--magnolia-netral);
  font-family: "Plus Jakarta Sans";
}
span {
  color: var(--primary-green);
  font-family: "Plus Jakarta Sans";
}
